__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
myenv/

.pytest_cache/
.mypy_cache/
.ruff_cache/

build/
*.toc
*.pyz
*.pkg
*.manifest
*.spec.bak

.vscode/
.idea/

*.log
*.tmp
*.bak

dist/*
!dist/Simulador.exe
!dist/README_DIST.txt
